* {
  box-sizing: border-box;
}

/* .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

/* .card {
    height: 400px;
    width: 270px;    
    border-radius: 10px;
    background: #222;
    margin: 10px;
} */

  /* Style the counter cards */
  .card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */               /* this adds the "card" effect */
    padding: 5px;
    text-align: center;
    background-color: var(--background-2);
    border-radius: 12px;
    outline: 3px solid silver;
    margin-bottom: 15px;
}

.card-img {
    border-radius: 8px;
    background-color: aquamarine;
    min-width: 100%;
    aspect-ratio: 1 / 1;
}

.card-title {
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    color: var(--text-1);
    margin-left: 5px;
}

.down-btn {
    background-color: var(--text-2);
    border-radius: 7px;
    font-size: 20px;
    justify-content: center;
    display: inline-block;
    width: 45%;
    text-decoration: none;
    color: var(--background-1);
    transition: 0.3s ease-in-out;
    margin: 10px 1.5% 10px 0;
}

.fullscreen-btn {
    background-color: var(--text-2);
    border-radius: 7px;
    font-size: 20px;
    justify-content: center;
    display: inline-block;
    width: 45%;
    text-decoration: none;
    color: var(--background-1);
    transition: 0.3s ease-in-out;
    margin: 10px 0 10px 1.5%;
}

.down-btn:hover, .fullscreen-btn:hover,
.down-btn:focus, .fullscreen-btn:focus {
  transform: scale(1.05);
  color: var(--background-2);
  outline: 3px solid steelblue;
}

  /* Float 3 columns side by side */
  .column {
    float: left;
    width: 30vw;
    padding: 0 16px;
    padding-top: 10px;
    margin-bottom: 15px;
}
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
    justify-content: center;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 560px) {
    .column {
      width: 90%;
      display: block;
      margin-bottom: 20px;
    }
}

  @media screen and (max-width: 900px) and (min-width: 560px){
    .column {
      width: 45%;
      display: block;
      margin-bottom: 20px;
    }
  }

/* 
::-webkit-scrollbar {
    width: 0px; 
} */








/* 



DMCA
Wallpapers.com respects the copyright of all work, and doesn’t allow other users to use other people’s wallpapers or images for anything that is against the copyright protection terms and conditions. Any kind of copyright infringement is not allowed on Wallpapers.com, and we blacklist all the copyrighted contents from displaying in the search results.


Wallpapers.com complies with the Digital Millennium Copyright Act (DMCA) and promptly suspends Content from access when properly notified.


Filing a completed DMCA notice via:

Wallpapers.com DMCA Agent
4/F, Fontaine Building,
Tsim Sha Tsui,
Hong Kong


Email: dmca@Wallpapers.com
 */
