/* Remove the outline when elements are focused */
:focus {
    outline: none;
}

/* Apply box-sizing to all elements for consistent sizing */
* {
    box-sizing: border-box;
}

/* Styles to disable scrolling when the mobile menu is open */
.menu-open {
    overflow: hidden;
}

/* Navbar styles */
.nav {
    height: 50px;
    width: 100vw;
    background-color: #202020;
    position: fixed;
    z-index: 10000;
    opacity: 0.9;
    transition: 0.5s ease-in-out;
    
    font-family: system-ui, monospace;
    font-weight: 500;
}

.nav:hover {
    opacity: 1;
}

/* Styles for the navbar header */
.nav > .nav-header {
    display: inline;
    transition: 0.5s ease-in-out;
}

.nav > .nav-header:hover, 
.nav > .nav-header:focus {
    background: #ffdd90;
    border-radius: 50%;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 7.5px;
    /* padding: 7.5px 16px 0 7.5px; */
}

/* Hide the navigation button initially */
.nav > .nav-btn {
    display: none;
}

/* Styles for the navigation links */
.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 10px 10px;
    text-decoration: none;
    color: #efefef;
    transition: 0.3s ease-in-out;
}

.nav > .nav-links > a:hover, 
.nav > .nav-links > a:focus {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffdd90;
    
    height: calc(50px + 3px);
    transform: translateY(-3px);
}

/* Hide the navigation checkbox input initially */
.nav > #nav-check {
    display: none;
}

/* Media query for mobile screens */
@media (max-width: 600px) {
    /* Display the navigation button */
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    /* Styles for the navigation button label */
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    /* Hover and checked styles for the navigation button label */
    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    /* Styles for the navigation button icon */
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    /* Styles for the mobile navigation links */
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    /* Styles for mobile navigation links */
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }

    /* Hide mobile navigation links when checkbox is not checked */
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    /* Show mobile navigation links and enable scrolling when checkbox is checked */
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}