html {
    scroll-behavior: smooth;
}

#scrollToTopBtn:focus {
    outline: none;
}

#scrollToTopBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: var(--background-3);
    opacity: 0.9;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    /* outline: 3px solid steelblue; */
    /* box-shadow: 0 0 10px 5px white; */
  
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    color: var(--background-1);
    font-size: 25px;
    z-index: 9999;
    transition: 0.5s ease-in-out;
}
  
#scrollToTopBtn:hover,
#scrollToTopBtn:active {
    background: var(--background-4);
    opacity: 1;
}

#scrollToTopBtn:hover,
#scrollToTopBtn:focus {
    transform: scale(1.1);
}

#scrollToTopBtn:active {
    transform: scale(0.9);
}

/* Mobile View */
@media (max-width: 600px) { /* For screens smaller than 600px; i.e mobile */
    
    #scrollToTopBtn {
        height: 30px;
        width: 30px;
        font-size: 20px;

        line-height: 30px;

        right: calc(50vw);
        bottom: 30px;
    }

    #scrollToTopBtn i { /* For the arrow (from Font Awesome) inside the button */
        /* line-height: 20px; */
        height: 100%;
    }
}
